<?xml version="1.0"?>
<doc>
    <assembly>
        <name>SpringBoard.Presentation</name>
    </assembly>
    <members>
        <member name="M:SpringBoard.Presentation.Controllers.V1.AuthenticationController.Register(Shared.DataTransferObjects.UserForRegistrationDto)">
            <summary>
            End-point to register new user
            </summary>
            <param name="userForRegistration"></param>
            <returns>Created.</returns>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.AuthenticationController.ConfirmEmail(Shared.RequestFeatures.EmailConfirmationRequestParameters)">
             <summary>
             End-point to confirm user's email address
             </summary>
             <param name="requestParameters"></param>
             <returns>No content.</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.AuthenticationController.Authenticate(Shared.DataTransferObjects.UserForAuthenticationDto)">
             <summary>
             Logs in users with username (email address) and password
             </summary>
             <param name="user"></param>
             <returns>Access and refresh tokens.</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.AuthenticationController.ResetPassword(Shared.DataTransferObjects.ResetPasswordDto)">
             <summary>
             This end-point resets user password
             </summary>
             <param name="resetPasswordDto"></param>
             <returns>Success or error message..</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.AuthenticationController.ChangePassword(Shared.DataTransferObjects.ChangeForgottenPasswordDto)">
             <summary>
             This end-point changes user forgotten password
             </summary>
             <param name="changePasswordDto"></param>
             <returns>Success or error message.</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.AuthenticationController.ChangePassword(System.String,Shared.DataTransferObjects.ChangePasswordDto)">
             <summary>
             This end-point changes user password when the old password is known.
             </summary>
             <param name="userId">Id of the user to change the password for</param>
             <param name="changePasswordDto"></param>
             <returns>Success or error message.</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.CompanyController.Create(Shared.DataTransferObjects.CompanyRequestObject)">
            <summary>End-point to create a new company</summary>
            <param name="request"></param>
            <response code="201">Ok. If everything goes well.</response>
            <response code="404">Not found. If the resources is not found.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.CompanyController.Update(System.Guid,Shared.DataTransferObjects.CompanyRequestObject)">
            <summary>End-point to update a company</summary>
            <param name="id">The id of the company to update.</param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If the resources is not found.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.CompanyController.Delete(System.Guid)">
            <summary>End-point to delete a company</summary>
            <param name="id">The id of the company to delete</param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If the resources is not found.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.CompanyController.Get(System.Guid)">
            <summary>End-point to find a company</summary>
            <param name="id">The id of the company to find</param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If the resources is not found.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.CompanyController.Get">
            <summary>End-point to get a list of companies</summary>
            <response code="200">Ok. If everything goes well.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.IndustryController.Create(Shared.DataTransferObjects.IndustryRequestObject)">
            <summary>
            End-point to create an industry
            </summary>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.IndustryController.Get(System.Guid)">
            <summary>End-point to get an industry</summary>
            <param name="id">The id of the industry to find</param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If the resources is not found.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.IndustryController.Get">
            <summary>End-point to get a list of industries</summary>
            <response code="200">Ok. If everything is OK.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.IndustryController.Delete(System.Guid)">
            <summary>
            End-point to delete an industry
            </summary>
            <param name="id">The id of the industry to delete</param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.IndustryController.Update(System.Guid,Shared.DataTransferObjects.IndustryRequestObject)">
            <summary>
            End-point to update an industry
            </summary>
            <param name="id">The id of the industry to update</param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.JobController.Create(Shared.DataTransferObjects.JobRequestObject)">
            <summary>End-point to create a job</summary>
            <param name="request"></param>
            <response code="201">Ok. If everything goes well.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.JobTypeController.CreateJobType(Shared.DataTransferObjects.JobTypeRequestObject)">
            <summary>
            End-point to create job type
            </summary>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.JobTypeController.GetJobTypes">
            <summary>
            End-point to get list of job types
            </summary>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.JobTypeController.GetJobType(System.Guid)">
            <summary>
            End-point to get a job type
            </summary>
            <param name="id">The id of the job type to find</param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.JobTypeController.DeleteJobType(System.Guid)">
            <summary>
            End-point to delete a job type
            </summary>
            <param name="id">The id of the job type to delete</param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.JobTypeController.UpdateJobType(System.Guid,Shared.DataTransferObjects.JobTypeRequestObject)">
            <summary>
            End-point to update a job type
            </summary>
            <param name="id">The id of the job type to update</param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.LocationController.CreateLocation(Shared.DataTransferObjects.LocationForCreationDto)">
             <summary>
             Creates a new location.
             </summary>
             <param name="location"></param>
             <returns>Detail of newly created resource</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.LocationController.GetLocations(Shared.RequestFeatures.SearchParameters)">
             <summary>
             Gets paginated list of locations.
             </summary>
             <param name="locationParameters"></param>
             <returns>List of paginated locations</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.LocationController.GetLocation(System.Guid)">
             <summary>
             Gets a location
             </summary>
             <param name="id"></param>
             <returns>A location with a given id</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.LocationController.DeleteLocation(System.Guid)">
             <summary>
             Deletes a location
             </summary>
             <param name="id"></param>
             <returns>No content.</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.LocationController.UpdateLocation(System.Guid,Shared.DataTransferObjects.LocationForUpdateDto)">
             <summary>
             Updates a location
             </summary>
             <param name="id"></param>
             <param name="location"></param>
             <returns>No content</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.SkillController.CreateSkill(Shared.DataTransferObjects.SkillRequest)">
             <summary>
             Creates a new skill.
             </summary>
             <param name="request"></param>
             <returns>Detail of newly created resource</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.SkillController.UpdateSkill(System.Guid,Shared.DataTransferObjects.SkillRequest)">
             <summary>
             Updates skills.
             </summary>
             <param name="request"></param>
             <param name="id">Id of the skill to be updated.</param>
             <returns>Detail of newly created resource</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.SkillController.DeleteSkill(System.Guid)">
             <summary>
             Deletes skill.
             </summary>
             <param name="id">Id of the skill to be deleted.</param>
             <returns>Detail of newly created resource</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.SkillController.GetSkills">
             <summary>
             Get list of skills.
             </summary>
             <returns>Detail of newly created resource</returns>
            <response code="200">Ok. If everything goes well.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.GetUserInfo(System.String)">
            <summary>
            End-point to get user information
            </summary>
            <param name="userId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.CreateUserInfo(System.String,Shared.DataTransferObjects.UserInformationDto)">
            <summary>
            End-point to create user information
            </summary>
            <param name="userId"></param>
            <param name="dto"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.UpdateUserInfo(System.Guid,Shared.DataTransferObjects.UserInformationDto)">
            <summary>
            End-point to update user information
            </summary>
            <param name="id"></param>
            <param name="dto"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.DeleteUserInfo(System.Guid)">
            <summary>
            End-point to delete user information
            </summary>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.CreateUserEducation(System.Guid,Shared.DataTransferObjects.EducationForCreationDto)">
            <summary>
            End-point to create education profile for users
            </summary>
            <param name="userInfoId"></param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.UpdateUserEducations(System.Guid,Shared.DataTransferObjects.EducationForUpdateDto)">
            <summary>
            End-point to update education profile for a user
            </summary>
            <param name="id"></param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.DeleteUserEducations(System.Guid)">
            <summary>
            End-point to delete education profile for a user
            </summary>
            <param name="id"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.CreateWorkExperience(System.Guid,Shared.DataTransferObjects.WorkExperienceRequest)">
            <summary>
            End-point to create user work experience
            </summary>
            <param name="userInfoId"></param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.UpdateWorkExperience(System.Guid,Shared.DataTransferObjects.WorkExperienceRequest)">
            <summary>
            End-point to update user work experience
            </summary>
            <param name="id">This is the work experience unique id</param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.DeleteWorkExperience(System.Guid)">
            <summary>
            End-point to delete user work experience
            </summary>
            <param name="id">This is the work experience unique id</param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.CreateUserSkill(System.Guid,System.Guid,Shared.DataTransferObjects.UserSkillRequest)">
            <summary>
            End-point to create user skill
            </summary>
            <param name="userInfoId"></param>
            <param name="skillId"></param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.UpdateUserSkill(System.Guid,System.Guid,Shared.DataTransferObjects.UserSkillRequest)">
            <summary>
            End-point to update user skill
            </summary>
            <param name="userInfoId"></param>
            <param name="skillId"></param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.DeleteUserSkill(System.Guid,System.Guid)">
            <summary>
            End-point to delete user skill
            </summary>
            <param name="userInfoId"></param>
            <param name="skillId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.CreateCertification(System.Guid,Shared.DataTransferObjects.CertificationRequest)">
            <summary>
            End-point to create user certification
            </summary>
            <param name="userInfoId"></param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.UpdateCertification(System.Guid,Shared.DataTransferObjects.CertificationRequest)">
            <summary>
            End-point to update user certification
            </summary>
            <param name="id"></param>
            <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:SpringBoard.Presentation.Controllers.V1.UserInformationController.DeleteCertification(System.Guid)">
            <summary>
            End-point to create user certification
            </summary>
            <param name="id"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:TokenController.Refresh(Shared.DataTransferObjects.TokenDto)">
             <summary>
             End-point to renew refresh tokens
             </summary>
             <param name="tokenDto"></param>
             <returns>Access and refresh tokens.</returns>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.GetUser(System.String)">
            <summary>
            End-point to get a user profile information
            </summary>
            <param name="userId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.GetUsers(Shared.RequestFeatures.SearchParameters)">
            <summary>
            End-point to get paginated list of user profile information
            </summary>
            <param name="searchParameters"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.Activate(System.String)">
            <summary>
            End-point to activate the user profile
            </summary>
            <param name="userId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.Deactivate(System.String)">
            <summary>
            End-point to deactivate the user profile
            </summary>
            <param name="userId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.UploadUserPhoto(Microsoft.AspNetCore.Http.IFormFile,System.String)">
            <summary>
            End-point to upload user profile photo.
            </summary>
            <param name="photoToUpload"></param>
            <param name="userId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.UpdateUserPhoto(Microsoft.AspNetCore.Http.IFormFile,System.String)">
            <summary>
            End-point to update user profile photo
            </summary>
            <param name="photoToUpdate"></param>
            <param name="userId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.DeleteUserPhoto(System.String)">
            <summary>
            End-point to delete user profile photo
            </summary>
            <param name="userId"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
        <member name="M:UserController.UpdateNames(System.String,Shared.DataTransferObjects.UserNamesForUpdateDto)">
             <summary>
             This end-point changes user's first and last names
             </summary>
             <param name="userId"></param>
             <param name="request"></param>
            <response code="200">Ok. If everything goes well.</response>
            <response code="204">No content. Everything is ok.</response>
            <response code="404">Not found. If resource(s) not found.</response>
            <response code="400">Bad request. If the request is not valid.</response>
            <response code="401">Unauthorized. Invalid authentication credentials for the requested resource.</response>
            <response code="403">Forbidden. Server refuses to authorize the request.</response>
            <response code="500">Server error. If the server did not understand the request.</response>
        </member>
    </members>
</doc>
